* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
}
header {
  max-width: 1140px;
  margin: 0 auto;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
footer {
  max-width: 1440px;
  margin: 0 auto;
}
/* common style */
.display-flex {
  display: flex;
}
.primary-btn {
  padding: 20px 50px;
  background-color: rgba(233, 90, 8, 1);
  color: rgba(255, 255, 255, 1);
  gap: 10px;
  border: none;
  width: 100%;
  text-align: center;
}
/* navbar section style */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.nav-iteams {
  gap: 48px;
}
.iteams {
  gap: 48px;
}
.nav-iteams li {
  list-style: none;
}
.nav-iteams a {
  text-decoration: none;
  color: rgba(137, 135, 161, 1);
}
.home:nth-child(1) {
  color: rgba(37, 36, 50, 1);
}
.cart {
  color: rgba(0, 0, 0, 1);
}
.iteams-span {
  gap: 20px;
}
/* banner section style */
.banner-container {
  justify-content: end;
  align-items: end;
  margin-bottom: 120px;
}
.banner-title {
  font-size: 4.065rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}
.banner-span {
  color: rgba(233, 90, 8, 1);
}
.banner-discription {
  font-size: 1.39rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 13px;
}
.banner-img {
  display: block;
}

/*  Plants Section style */
.plants-head-title {
  font-size: 3.125rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-align: center;
}
.plants-head-discription {
  font-size: 1.35rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.plants-title-span {
  color: rgba(233, 90, 8, 1);
}
.plants-head-title-container {
  margin-bottom: 50px;
}
.card {
  width: 100%;
}
.card-btn {
  padding: 20px 26px;
  background-color: rgba(233, 90, 8, 1);
  color: rgba(255, 255, 255, 1);
  gap: 10px;
  border: none;
  width: 100%;
  text-align: center;
}
.card-title-container {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.card-title {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(17, 17, 17, 1);
}
.card-price {
  font-size: 1.4rem;
  font-weight: bold;
  color: rgba(17, 17, 17, 1);
}
.plants-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 120px;
  width: 75vw;
  overflow: hidden;
}
/* Plants Lover Section style */
.lover-title {
  font-size: 3.125rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 20px;
}
.lover-discription {
  font-size: 1.35rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-left: 30px;
}
.lover-container {
  gap: 60px;
  justify-content: space-between;
}
.overlay-logo {
  position: relative;
}
.trusted-badge {
  width: 286px;
  position: absolute;
  top: -130px;
  left: 350px;
  filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.05));
  animation: spin 5s linear infinite backwards;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Latest Deal Section style */
.latest-container {
  margin-top: 120px;
  margin-bottom: 120px;
}
.latest-title {
  font-size: 3.125rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-align: center;
}
.latest-title-span {
  color: rgba(233, 90, 8, 1);
}
.latest-discription {
  font-size: 1.35rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 60px;
}
.latest-container-in {
  gap: 40px;
}
.bloom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 100%, green),
    url(../assets/deal-bloom.png);
  width: 366px;
  height: 200px;
  border-radius: 15px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  align-content: center;
}
.ana {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 100%, green),
    url(../assets/deal-ana.png);
  width: 366px;
  height: 197px;
  border-radius: 15px;
  text-align: center;
  align-content: center;
}
.zabo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 100%, green),
    url(../assets/deal-zabo.png);
  width: 753px;
  height: 423px;
  border-radius: 28px;
  text-align: center;
  align-content: center;
}
.latest-left-title {
  font-size: 1.35rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
.anchor {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}
.latest-right-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
.latest-right-anchor {
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  font-size: 2.75rem;
}

/* join section style */
.join-container {
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 533px;
  width: 100%;
  text-align: center;
  align-content: center;
  overflow: hidden;
  box-sizing: border-box;
}
.join-child-container {
  display: flex;
  gap: 0;
  justify-content: center;
}
.footer-title {
  font-size: 3.125rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20px;
}
.join-section-input {
  padding: 26px 20px;
  width: 644px;
  margin-right: 0;
}
.footer-btn {
  padding: 26px 50px;
  margin-left: 0;
  gap: 0;
  background-color: rgba(233, 90, 8, 1);
  border: none;
  color: white;
}
/* Footer Section style */
.footer-container {
  justify-content: space-between;
  gap: 20px;
  padding: 80px;
  font-family: "Inter", sans-serif;
  width: 100%;
  display: block;
  box-sizing: border-box;
  display: flex;
}
.footer-logo-title {
  font-size: 1.35rem;
  color: rgba(0, 0, 0, 0.5);
}
.footer-iteams li {
  list-style: none;
  margin-bottom: 20px;
}
.footer-iteams li a {
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
}
.footer-features li {
  list-style: none;
  margin-bottom: 20px;
  color: rgba(107, 114, 128, 1);
}
.footer-icon {
  margin-top: 0;
  margin-left: 24px;
}
/* media query for mobail responsive */
@media screen and (max-width: 576px) {
  .iteams {
    display: none;
  }
  .navbar {
    margin: 20px;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-left-container {
    margin: 28px 16px 65px 16px;
    height: 100%;
  }
  .plants-head-title-container {
    text-align: center;
    padding: 0 10px;
  }
  .plants-card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    width: 95vw;
  }
  .card {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .card-img {
    width: 100%;
    height: auto;
  }
  .card-title-container {
    display: block;
    justify-content: center;
    padding: 0 10px;
  }
  .plants-head-title-container {
    margin: 16px 16px 50px 16px;
    box-sizing: border-box;
  }
  .lover-container {
    flex-direction: column;
    margin: 16px;
  }
  .trusted-badge {
    display: none;
  }
  .lover-container-img {
    width: 100%;
    margin-top: 65px;
  }
  .lover-title {
    font-size: 1.5rem;
  }
  .lover-title-solved {
    display: none;
  }
  .lover-discription {
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-left: 10px;
  }
  .latest-container-in {
    flex-direction: column;
    margin: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .zabo {
    width: 100%;
    height: 197px;
    background-size: cover;
    border-radius: 15px;
  }
  .latest-right-title {
    font-size: 1.35rem;
    display: block;
  }
  .latest-right-anchor {
    font-size: 1rem;
    display: block;
  }
  .latest-discription {
    margin: 16px;
  }
  .join-container {
    padding: 120px 24px;
    box-sizing: border-box;
    height: 100%;
    background-size: cover;
  }
  .join-child-container {
    align-items: center;
  }
  .footer-btn {
    padding: 20px 14px;
  }
  .join-section-input {
    padding: 20px 20px;
  }

  .footer-title {
    font-size: 2rem;
  }
  .footer-container {
    flex-direction: column;
    width: 100%;
    justify-items: flex-start;
    align-items: flex-start;
    padding: 50px 20px;
  }
  .footer-icon {
    margin: 0 20px 0 0;
  }
}
